{% extends 'base.html.twig' %}

{% block title %}ComplaintResponse index{% endblock %}

{% block body %}
    <h1>ComplaintResponse index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Response</th>
                <th>DateResponse</th>
                <th>Email_sender</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for complaint_response in complaint_responses %}
            <tr>
                <td>{{ complaint_response.id }}</td>
                <td>{{ complaint_response.Response }}</td>
                <td>{{ complaint_response.DateResponse ? complaint_response.DateResponse|date('Y-m-d') : '' }}</td>
                <td>{{ complaint_response.EmailSender }}</td>
                <td>
                    <a href="{{ path('app_complaint_response_show', {'id': complaint_response.id}) }}">show</a>
                    <a href="{{ path('app_complaint_response_edit', {'id': complaint_response.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_complaint_response_new') }}">Create new</a>
{% endblock %}
